@tailwind base;

/* defining custom base styles */
@layer base {
    /* declaring variables */
    :root {
        --color-bg: #23253b;
        --color-bg-variant: #2c2c6c;
        --color-primary: #4bb5f5;
        --color-primary-variant: #2f2f69;
        --color-light: rgba(255, 255, 255, 0.6);

        --transition: all 400ms ease-in;

        /* setting the width of the container on different devices */
        --container-width-lg: 75%;
        --container-width-md: 86%;
        --container-width-sm: 90%;
    }

    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        outline: 0;
        list-style: none;
        text-decoration: none;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Poppins", "sans-serif";
        background: var(--color-bg);
        color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 500;
    }

    h1 {
        font-size: 2.5rem;
    }

    section {
        margin-top: 8rem;
    }

    section > h2,
    section > h5 {
        text-align: center;
        color: var(--color-light);
    }

    section > h2 {
        color: var(--color-primary);
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

    a {
        color: var(--color-primary);
        transition: var(--transition);
        -webkit-tap-highlight-color: transparent;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

@tailwind components;

/* defining custom component styles */
@layer components {
    .me {
        background: linear-gradient(var(--color-primary), transparent);
        /* center the div */
        left: calc(50% - 11.5rem);
        padding: 5rem 0rem 1rem 0rem;
    }

    a:hover {
        color: #fff;
    }

    /* initial width of the container */
    .container {
        width: var(--container-width-lg);
    }

    .btn {
        width: max-content;
        display: inline-block;
        color: var(--color-primary);
        padding: 0.75rem 1.2rem;
        border-radius: 30px;
        cursor: pointer;
        border: 1px solid var(--color-primary);
        transition: var(--transition);
        -webkit-tap-highlight-color: transparent;
    }

    nav > a {
        background: transparent;
        color: #fff;
        border-radius: 50%;
        padding: 0.8rem;
        font-size: 1.6rem;
    }

    nav > a:hover {
        background: rgba(0, 0, 0, 0.2);
        color: var(--color-primary);
    }

    nav > a.active {
        background: #373434;
        color: var(--color-primary);
    }

    .experience__container > div {
        background: var(--color-bg-variant);
        padding: 2.4rem 3.5rem;
        border-radius: 2rem;
        border: 3px solid transparent;
    }

    .experience__container > div:hover {
        background: transparent;
        transition: var(--transition);
        border-color: var(--color-primary-variant);
        cursor: default;
    }

    .btn:hover {
        color: var(--color-bg);
        background: var(#fff);
        border-color: var(--color-primary);
    }

    .btn-primary {
        background: var(--color-primary);
        color: var(--color-bg);
        -webkit-tap-highlight-color: transparent;
    }

    .service {
        background: var(--color-bg-variant);
        border-radius: 0 0 2rem 2rem;
        border: 3px solid var(--color-bg);
        height: fit-content;
        transition: var(--transition);
    }

    .service__head {
        background: var(--color-primary);
        padding: 2rem;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    }

    .service__head h3 {
        color: var(--color-bg);
        font-size: 1rem;
        text-align: center;
    }

    .service__list li {
        display: flex;
        margin-bottom: 0.9rem;
        gap: 1rem;
    }

    .service__list-icon {
        color: var(--color-primary);
        margin-top: 3px;
        font-size: 1.2rem;
    }

    .service__list p {
        font-size: 0.9rem;
    }

    .btn-primary:hover {
        background-color: #fff;
    }

    @media screen and (max-width: 1024px) {
        .container {
            width: var(--container-width-md);
        }

        section {
            margin-top: 6rem;
        }
    }

    @media screen and (max-width: 600px) {
        .container {
            width: var(--container-width-sm);
        }

        section > h2 {
            margin-bottom: 2rem;
        }
    }
}

@tailwind utilities;

/* defining custom utilities styles */
@layer utilities {
    /* remove the scrollbar from the site */
    ::-webkit-scrollbar {
        display: none;
    }

    .header__container {
        position: relative;
    }

    .grid-cols-35-50 {
        grid-template-columns: 35% 50%;
    }

    .linear-grad-45 {
        background: linear-gradient(
            45deg,
            transparent,
            var(--color-primary),
            transparent
        );
    }

    .about__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid transparent;
        background: var(--color-bg-variant);
        border-radius: 1rem;
        padding: 1.9rem;
        transition: var(--transition);
    }

    .about__card:hover {
        background: transparent;
        border-color: var(--color-primary-variant);
        cursor: default;
    }

    .about__card h5 {
        font-size: 0.95rem;
    }

    .about__card small {
        font-size: 0.7rem;
        color: var(--color-light);
    }

    .layer-big {
        background-image: url("../src/assets/layer-big.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .layer-md {
        background-image: url("../src/assets/layer-mid.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .layer-sm {
        background-image: none;
    }

    .about__icon {
        color: var(--color-primary);
        margin-bottom: 1rem;
        font-size: 1.9rem;
    }

    .color-bg {
        background-color: var(--color-bg);
    }

    .color-bg-variant {
        background-color: var(--color-bg-variant);
    }

    .color-primary {
        color: var(--color-primary);
    }

    .color-primary-variant {
        color: var(--color-primary-variant);
    }

    .color-light {
        color: var(--color-light);
        opacity: 0.6;
    }

    .text-light {
        color: rgb(255, 255, 255, 0.6);
    }
}
